<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Physics minor 2 marks</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body id="app">
  <form class="container" action="/submit" method="post">
    

    <h1 id="countryName">
      <%= question %>
    </h1>
    <div class="answer-container">
      <input type="text" name="answer" id="userInput" placeholder="Enter your reg. no." autofocus autocomplete="off">

    </div>
    <button type="submit" id="sub">
      SUBMIT
    </button>
    <h5 id="foot" >Made by Arpit &#129312; </h5>
    
  </form>

  
</body>

</html>